<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DjangoGirls Tutorial</title>
</head>
<body>
<h1>Post Detail</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid architecto asperiores aut consectetur cumque dolor doloremque, ea earum, enim est ex explicabo fuga fugit impedit labore libero nihil numquam optio perferendis porro provident, quis rem repudiandae tempora ut vitae voluptate? Accusamus amet aperiam asperiores, at aut debitis dolor dolore doloremque ducimus ex fugit illum incidunt iste iusto, labore laborum molestiae nostrum porro quae quaerat quos recusandae, reiciendis saepe sit soluta sunt totam ullam ut vero voluptatibus! Adipisci consectetur consequatur dicta eaque illum incidunt, magnam maiores minima nemo nihil, numquam quae, quod repudiandae? Ipsum, mollitia odio optio quas similique vel.</p>
</body>
</html>